body {
    background-color: #778899;
}

.container {
    height: 100vh;
    width: 150%;
    margin: 0 auto;
    margin-top: 2%;
    background-color: whitesmoke;
    /* box-shadow */
    -webkit-box-shadow: 10px 10px 11px -4px rgba(0,0,0,0.68);
    -moz-box-shadow: 10px 10px 11px -4px rgba(0,0,0,0.68);
    box-shadow: 10px 10px 11px -4px rgba(0,0,0,0.68);
}

h1 {
    text-align: center;
    padding-top: 3%;
    margin-bottom: 0;
    font-family: monospace;
    font-size: -webkit-xxx-large;
}

h2 {
    text-align: center;
    padding-top: 3%;
    margin-bottom: 0;
    font-family: monospace;
    font-size: 20px;
}

.canvas {
    width: 130%;
    height: 100vh;
    margin-left: 1%;
}

.border {
    stroke: black;
    stroke-width: 1px;
    stroke-linejoin: round;  
}

.cell:hover {
    stroke: black;
    stroke-width: 2px;
}

.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 70px;					
    height: 30px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}
